{%load staticfiles%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <title>TestApp</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}" />
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <nav class="navbar navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        Menu <span class="glyphicon glyphicon-list-alt"></span>
                    </button>
                    <a class="navbar-brand page-scroll"  href="/"><span class="Brand1">Art</span>Kiwi</a>
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        {% if perms.article.add_article %}
                            <li>
                                <a class="page-scroll" href="/addarticle/"> Add Article <span class="glyphicon glyphicon-text-background"></span></a>
                            </li>
                        {% endif %}
                        {% if user.username %}
                            <li>
                                <a class="page-scroll" href="/auth/logout/"> Log Out({{ user.username }}) <span class="glyphicon glyphicon-log-out"></span></a>
                            </li>
                            <li>
                                <a class="page-scroll" href="/auth/profile/"> Profile <span class="glyphicon glyphicon-user"></span></a>
                            </li>
                        {% else %}
                            <li>
                                <a class="page-scroll" href="/auth/login/"><span class="glyphicon glyphicon-log-in"></span> Log In</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <header class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                    <h1>“One day I will find the right words, and they will be simple.”</h1>
                    <h3>― Jack Kerouac</h3>
                </div>
            </div>
        </header>
        <div class="container">
            <div class ="parent">
                <div class="row">
                    <div class ="col-lg-8 col-md-offset-2">
                        {% block articles %}{% endblock %}
                    </div>
                </div>
                {% block article %}{% endblock %}
                <div class="row">
                    <div class ="col-md-4 col-md-offset-4">
                        {% block login %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>Developed by ArtKiwi 2017©</p>
        </footer>
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/site.js' %}"></script>
    </body>
</html>
